<fieldset id='balloon-properties'>
    <div class="form-group row value-display-editable" data-key-name='balloon_dry_mass' data-packet-type='upra.balloonprops' data-publish-packet-type='upra.balloonprops.set'>
        <label for="balloon-dry-mass" class="col-sm-5 col-form-label">Balloon dry mass (g)</label>
        <div class="col-sm">
          <input type="number" class="form-control value-holder" id="balloon-dry-mass" placeholder="Mass of empty balloon"/>
        </div>
    </div>
    <div class="form-group row value-display-editable" data-key-name='parachute_dry_mass' data-packet-type='upra.balloonprops' data-publish-packet-type='upra.balloonprops.set'>
        <label for="parachute-dry-mass" class="col-sm-5 col-form-label">Parachute dry mass (g)</label>
        <div class="col-sm">
          <input type="number" class="form-control value-holder" id="parachute-dry-mass" placeholder="Mass of parachute"/>
        </div>
    </div>
    <div class="form-group row value-display-editable" data-key-name='payload_dry_mass' data-packet-type='upra.balloonprops' data-publish-packet-type='upra.balloonprops.set'>
        <label for="payload-dry-mass" class="col-sm-5 col-form-label">Payload dry mass (g)</label>
        <div class="col-sm">
          <input type="number" class="form-control value-holder" id="payload-dry-mass" placeholder="Mass of the payload"/>
        </div>
    </div>
    <div class="form-group row value-display-editable" data-key-name='nozzle_lift' data-packet-type='upra.balloonprops' data-publish-packet-type='upra.balloonprops.set'>
        <label for="nozzle-lift" class="col-sm-5 col-form-label">Nozzle lift (g)</label>
        <div class="col-sm">
          <input type="number" class="form-control value-holder" id="nozzle-lift" placeholder="Lift measured at the nozzle of the inflated balloon"/>
        </div>
    </div>
    <div class="form-group row value-display-editable" data-key-name='parachute_area' data-packet-type='upra.balloonprops' data-publish-packet-type='upra.balloonprops.set'>
        <label for="parachute-area" class="col-sm-5 col-form-label">Parachute area (m<sup>2</sup>)</label>
        <div class="col-sm">
          <input type="number" class="form-control value-holder" id="parachute-area" placeholder="Area of the parachute"/>
        </div>
    </div>
    <div class="form-group row value-display-editable" data-key-name='parachute_drag_c' data-packet-type='upra.balloonprops' data-publish-packet-type='upra.balloonprops.set'>
        <label for="parachute-drag-c" class="col-sm-5 col-form-label">Parachute drag coefficient</label>
        <div class="col-sm">
          <input type="number" class="form-control value-holder" id="parachute-drag-c" placeholder="Drag coefficient of parachute"/>
        </div>
    </div>
    <div class="form-group row value-display-editable" data-key-name='balloon_drag_c' data-packet-type='upra.balloonprops' data-publish-packet-type='upra.balloonprops.set'>
        <label for="balloon-drag-c" class="col-sm-5 col-form-label">Balloon drag coefficient</label>
        <div class="col-sm">
          <input type="number" class="form-control value-holder" id="balloon-drag-c" placeholder="Drag coefficient of balloon"/>
        </div>
    </div>
    <div class="form-group row value-display-editable" data-key-name='design_burst_diam' data-packet-type='upra.balloonprops' data-publish-packet-type='upra.balloonprops.set'>
        <label for="design-burst-diam" class="col-sm-5 col-form-label">Design burst diameter (m)</label>
        <div class="col-sm">
          <input type="number" class="form-control value-holder" id="design-burst-diam" placeholder="Design burst diameter of the balloon"/>
        </div>
    </div>
</fieldset>
