<div class="btn-group" role="group">
    <button id='switch-1' class="btn btn-secondary">SW1</button>
    <button id='switch-2' class="btn btn-secondary">SW2</button>
    <button id='switch-3' class="btn btn-secondary">SW3</button>
    <button id='switch-4' class="btn btn-secondary">SW4</button>
</div>
<!--div class="btn-group" role="group"-->
    <button id='button-1' class="btn btn-primary">BTN1</button>
    <button id='button-2' class="btn btn-primary">BTN2</button>
<!--/div-->
<!--div class="btn-group" role="group"-->
    <button id='pot' class="btn btn-info">POT: ?</button>
    <button id='mode' class="btn btn-info">MODE: ?</button>
<!--/div-->
<!--div class="btn-group" role="group"-->
    <button id='moving-forward' class="btn btn-dark">FWD</button>
    <button id='moving-backward' class="btn btn-dark">BWD</button>
<!--/div-->