<div class="input-group">
    <input id='program-name' class="form-control" placeholder='Program path'>
    <div class="input-group-append">
        <button id='program-name-submit' class="btn btn-outline-secondary">Run</button>
    </div>
</div>
<div id="program-messages">
    <div class="console-output"></div>
    <div class="input-group console-prompt">
        <input id='program-command' class="console-input form-control" placeholder='Command'>
        <div class="input-group-append">
            <button id='program-command-send' class="console-send btn btn-dark">Send</button>
        </div>
    </div>
</div>
