<div id="telemetry">
    <dl class="row">
      <dt class="col-sm-3">Latitude</dt>
      <dd class="col-sm-9 value-display" data-key-name="lat" data-packet-type="location">
          <p class="lead value-holder">--</p>
      </dd>
      <dt class="col-sm-3">Longitude</dt>
      <dd class="col-sm-9 value-display" data-key-name="lng" data-packet-type="location">
          <p class="lead value-holder">--</p>
      </dd>
      <dt class="col-sm-3">Altitude</dt>
      <dd class="col-sm-9 value-display" data-key-name="alt" data-packet-type="location">
          <p class="lead"><span class="value-holder">--</span> m</p>
      </dd>
    </dl>
</div>
