{% extends 'tracker/base.html' %}

{% load static %}

{% block content %}
    <h1>UPRA checklist</h1>
    <div id='task-matrix'>
    </div>
    <div id='map'></div>
    <div id='secondary'>
        <div id='console'>
            <input id='program-name' placeholder='Program path'><button id='program-name-submit'>Submit</button>
            <input id='program-command' placeholder='Command'><button id='program-command-send'>Send</button>
            <div id='program-output'></div>
        </div>
        <div id='init'>
            <input id='mam-com' type='text' placeholder='COM port' value='COM4'>
            <button id='init-mam'>MaM 2018</button>
            <button id='init-upra'>UPRA</button>
        </div>
        <div id='mam-status'>
            <button id='switch-1'>SW1</button>
            <button id='switch-2'>SW2</button>
            <button id='switch-3'>SW3</button>
            <button id='switch-4'>SW4</button>
            <button id='button-1'>BTN1</button>
            <button id='button-2'>BTN2</button>
            <button id='pot'>POT: ?</button>
            <button id='mode'>MODE: ?</button>
            <button id='moving-forward'>FWD</button>
            <button id='moving-backward'>BWD</button>
        </div>
        <div class='panel'>
            <div id='coordinates'></div>
            <div id='response'>
                <input id='text' placeholder='Message'>
                <button id='send'>
                    Send
                </button>
            </div>
            <div id='controls'>
                <table>
                    <tr>
                        <td><label for='roll'>Roll</label></td>
                        <td><input type='range' min='0' max='360' value='0' id='roll'></td>
                        <td><input id='roll-value' disabled></td>
                    </tr>
                    <tr>
                        <td><label for='pitch'>Pitch</label></td>
                        <td><input type='range' min='0' max='360' value='0' id='pitch'></td>
                        <td><input id='pitch-value' disabled></td>
                    </tr>
                    <tr>
                        <td><label for='yaw'>Yaw</label></td>
                        <td><input type='range' min='0' max='360' value='0' id='yaw'></td>
                        <td><input id='yaw-value' disabled></td>
                    </tr>
                    <tr>
                        <td><label for='throttle'>Throttle</label></td>
                        <td><input type='range' min='0' max='100' value='0' id='throttle'></td>
                        <td><input id='throttle-value' disabled></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class='panel'>
            <canvas id='altitudeChart'></canvas>
        </div>
        <div class='panel'>
            <canvas id='extTempChart'></canvas>
        </div>
    </div>
    <script src='{% static 'js/checklist.js' %}'></script>
    <script src='{% static 'js/map.js' %}'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js'></script>
    <script src='{% static 'js/visualizer.js' %}'></script>
    <script src='{% static 'js/charts.js' %}'></script>
    <script src='{% static 'js/mam.js' %}'></script>
    <script src='{% static 'js/upra.js' %}'></script>
    <script async defer
            src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAtUYHs8xps4PTubrdK_06o8SMxFS41sFo&callback=initMap'>
    </script>
{% endblock %}
