{% extends 'tracker/base.html' %}

{% load static %}

{% block title %}{{ pagetitle }} | {{ block.super }}{% endblock %}

{% block header-content %}
    <div id="react"></div>
{% endblock %}

{% block content %}
    <div id="main-container" class="container-fluid">
        <div class="row">
            {% if showmap %}
            <div id="map-wrapper" class="col-md">
                <div id="map"></div>
            </div>
            <script async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBNOqsN08MKI40-q8VWe81WMKtM8gM9cz0'></script>
            {% endif %}
            <div class="col-md">
                <div id="gnd-app"></div>
            </div>
        </div>
    </div>
{% endblock %}
