{% extends 'tracker/base.html' %}

{% load static %}

{% block title %}{{ pagetitle }} | {{ block.super }}{% endblock %}

{% block content %}
    <div id="main-container" class="container-fluid">
        <div class="row">
            {% if showmap %}
            <div id="map-wrapper" class="col-md">
                <div id="map"></div>
            </div>
            <script async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBNOqsN08MKI40-q8VWe81WMKtM8gM9cz0&callback=initMap'></script>
            {% endif %}
            <div class="col-md">
                <div class="container-fluid">
                    <div class="row">
                        <ul id="main-tabs" class="nav nav-tabs" role="tablist">
                        {% for tab in maintabs %}
                            <li class="nav-item">
                                <a class="nav-link{% if forloop.first %} active{% endif %}"
                                   id="{{ tab.id }}-tab"
                                   data-toggle="tab" href="#{{ tab.id }}" role="tab">
                                    {{ tab.title }}
                                </a>
                            </li>
                        {% endfor %}
                        </ul>
                        <div id="main-tab-content" class="tab-content">
                        {% for tab in maintabs %}
                            <div id="{{ tab.id }}"
                                 class="tab-pane{% if forloop.first %} show active{% endif %}">
                                {% include tab.template %}
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                    {% if bottom_panel_template %}
                    <div id='bottom-panel'>
                        {% include bottom_panel_template %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <script src='{% static 'js/console.js' %}'></script>
    <script src='{% static 'js/checklist.js' %}'></script>
    <script src='{% static 'js/map.js' %}'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js'></script>
    <script src='{% static 'js/visualizer.js' %}'></script>
    <script src='{% static 'js/charts.js' %}'></script>
    <script src='{% static 'js/mam.js' %}'></script>
    <script src='{% static 'js/upra.js' %}'></script>
{% endblock %}
