<div class="input-group">
    <input id='program-name' class="form-control" placeholder='Program path'>
    <div class="input-group-append">
        <button id='program-name-submit' class="btn btn-outline-secondary">Run</button>
    </div>
</div>
<div id='program-output' class="console-output"></div>
<div class="input-group console-prompt">
    <input id='program-command' class="form-control" placeholder='Command'>
    <div class="input-group-append">
        <button id='program-command-send' class="btn btn-dark">Send</button>
    </div>
</div>